@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>!!!Congratulations!!!</h2>
<h3>Your Payment Through @TempData["paymentMethod"] is Confirmed</h3>
<h3>Your Products will be Delivered Within 3 office day at @TempData["shippingAddress"]</h3>

